<div class="text-center">
  <h1 class="my-5">注文詳細</h1>
  <h1 class="my-5">注文番号：<%= @cart.number %></h1>
  <h1 class="my-5">注文先店舗名：<%= link_to @cart.store.name, "/stores/#{@cart.store.id}" %></h1>
  <h2 class="my-5"><%= "合計：#{@total}円" %></h2>
</div>
<div class="row mt-5">
  <% @cart_items.each do |cart_item| %>
    <div class="col-sm-3 text-center">
      <img class="rounded" src="<%= "/item_images/#{cart_item.item.image}" %>" alt="商品画像" width="150" height="150">
      <p class="my-1"><%= link_to cart_item.item.name, "/items/#{cart_item.item.id}" %></p>
      <p class="my-1">¥<%= cart_item.item.price %>(税込)</p>
      <p class="my-1">個数：<%= cart_item.count %></p>
    </div>
  <% end %>
</div>
<p class="mt-3">受け取り方法：<%= @cart.receive %></p>
<p class="mt-3">お支払い方法：<%= @cart.payment %></p>
