<div class="text-center">
  <h1 class="my-5">カート内容</h1>
  <% if @store %>
    <%= link_to "#{@store.name}", "/stores/#{@store.id}", class: "h1 my-5" %>
    <h2 class="my-5"><%= "合計：#{@total}円" %></h2>
    <%= link_to "レジに進む", "/carts/#{current_cart.id}/receive", class: 'btn btn-primary my-2 w-25' %>
  <% else %>
    <h1 class="my-5">カートは空です。</h1>
  <% end %>
</div>
<div class="row mt-5">
  <% @cart_items.each do |cart_item| %>
    <div class="col-sm-3 text-center">
      <img class="rounded" src="<%= "/item_images/#{cart_item.item.image}" %>" alt="商品画像" width="150" height="150">
      <p class="my-1"><%= link_to cart_item.item.name, "/items/#{cart_item.item.id}" %></p>
      <p class="my-1">¥<%= cart_item.item.price %>(税込)</p>
      <%= form_with(url: update_item_url, method: :post, local: true) do |f| %>
      <span class="my-1">個数：<%= cart_item.count %>→</span>
      <%= f.hidden_field :item_id, value: cart_item.item.id %>
      <%= f.select :count, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], selected: cart_item.count %>
      <%= f.submit '個数を変更する', class: 'btn btn-primary mt-1' %>
      <% end %>
      <%= link_to "カートから削除", delete_item_path(item_id: cart_item.item.id), method: :delete, class: 'btn btn-danger mt-1' %>
    </div>
  <% end %>
</div>
<% if @store %>
  <div class="text-center">
    <%= link_to "カートを削除", destroy_cart_path, method: :delete, class: 'btn btn-danger mt-5' %>
  </div>
<% end %>
