<div class="text-center">
  <h1 class="my-5">商品新規登録</h1>
</div>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @item, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :name, '商品名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :image, '画像' %>
        <%= f.text_field :image, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :price, '価格（税込）' %>
        <%= f.text_field :price, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :message, '店舗からのメッセージ' %>
        <%= f.text_area :message, class: 'form-control', rows: "10" %>
      </div>
      <div class="form-group">
        <%= f.label :store_id, '店舗ID' %>
        <%= f.text_field :store_id, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :category_id, 'カテゴリID' %>
        <%= f.text_field :category_id, class: 'form-control' %>
      </div>
      <%= f.submit '新規登録', class: 'btn btn-primary btn-block mt-5' %>
    <% end %>
  </div>
</div>
