<header>
  <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-success">
    <a class="navbar-brand" href="/">Mart-Pia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Menu</a>
          <ul class="dropdown-menu dropdown-menu-right">
            <% if customer_logged_in? %>
              <li class="dropdown-item"><%= link_to '店舗一覧', stores_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'カート内容', cart_path(current_cart) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to '注文履歴', "/customers/ordered" %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to '登録情報確認', customer_path(current_customer) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', customers_logout_path, method: :delete %></li>
            <% else %>
              <li class="dropdown-item"><%= link_to '店舗一覧', stores_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to '新規登録', new_customer_path %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログイン', customers_login_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
